{
  "extends": ["airbnb", "prettier/react", "@react-native-community"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "react-native/react-native": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": "off",
    "prettier/prettier": "warn",
    "quotes": [
      "warn",
      "double",
      {
        "avoidEscape": true
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "warn",
    "no-unused-vars": "warn",
    "react-native/no-unused-styles": "warn",
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": "warn",
    "react-native/no-raw-text": 2,
    "react-native/no-single-element-style-arrays": 2,
    "react/prop-types": "warn",
    "comma-dangle": "off"
  },
  "plugins": ["prettier", "react-hooks", "react-native"]
}
